// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$theme-color-main: rgb(178, 202, 145);
$theme-color-sub: rgb(233, 239, 213);
$theme-color-second: rgb(215, 232, 164);
$theme-gradient: linear-gradient(0deg, $theme-color-main, $theme-color-sub);

