.auth-page {
  background: $theme-gradient;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;

  .card {
    &.image-card {
      border: none;
      background: none;
      border-radius: 0;
    }

    &.login-card {
      border: none;
      border-radius: 0;

      .btn {
        border-radius: 4px;

        &.btn-primary {
          background-color: $theme-color-main;
          border: none;
        }
      }

      .line {
        height: 1px;
        border-top: 1px solid #eee;
      }
    }

    &.login-page-card {
      background: none;
      border: none;

      .signin-text {
        color: $white;
        font-size: 21px;
      }

      input:not([type='checkbox']) {
        height: 44px;
        border: none;
      }

      #email {
        border-radius: 6px 6px 0 0;
        border-bottom: 1px solid $theme-color-main;
      }

      #password {
        border-radius: 0 0 6px 6px;
      }
    }

    .card-body {
      .logo {
        width: 120px;
        height: 120px;
        border-radius: 8px;
        .logo-img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;

    a {
      color: $white;
      margin-left: 12px;
      margin-right: 12px;
      text-decoration: none;
      font-weight: bold;
    }

    @include media-breakpoint-down(md) {
      text-align: center;
      a {
        display: block;
      }
    }
  }

  .app-name {
    position: absolute;
    top: 16px;
    left: 16px;
    p {
      font-size: 16px;
      font-weight: bold;
      color: #0d8857;
    }
  }

  .register-link {
    position: absolute;
    top: 16px;
    right: 16px;
    a {
      font-size: 22px;
      font-weight: lighter;
      color: #0d8857;
      text-decoration: none;
      &:hover {
        color: #0dc489;
      }
    }
  }
}